/* --------------------------------------------------------------Navbar*/
.navbar {
  background-color: #ffff !important;
}
#logo.logo-css {
  margin-left: 30px;
}

/* ----------------------------Bouton lien Inscription donateur*/
.form-donateur.navbar-brand a {
  margin: none;
  padding: none;
}
#boutton-inscription span {
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}
#connection {
  margin-right: 30px;
}

#connection span {
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
}
#button-donateur {
  padding: 0em;
  font-size: 30px;
}

/*le titre*/
#navbar-titre span {
  color: rgb(3, 152, 158);
  font-size: 36px;
  font-weight: bold;
  border-color: #000;
}
/*------------------------------------------------------------Image*/
.background-image {
  background-image: url("../assets/Aide solidarite.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: contrast(90%);
}

/*---------------------------------------------------Container Page d'accueil */
.page-accueil {
  background-color: rgba(255, 255, 255, 0.762);
  padding: 1em;
  filter: contrast(95%);
}

/* --------------------------------------------------Introduction */
#introduction {
  margin: 1em;
  margin-bottom: em;
}

#introduction p {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0em;
  text-align: justify;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #000;
}

/* -------------------------------------------------Personae Sophie*/
#personae {
  margin-top: 2em;
  padding-bottom: 1em;
}

#personae h2 {
  margin-left: 2em;
  margin-top: 1em;
  margin-bottom: 0em;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #000;
}

#personae p {
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 0em;
  text-align: left;
  padding-left: 1em;
  padding-bottom: 0em;
  padding-top: 0em;
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 18px;
}

/* --------------------------------------personae Association*/
#asso {
  padding-bottom: 2em;
}

#titre-1 {
  margin-left: 0.5em;
  margin-top: 1em;
  margin-bottom: 0em;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 30px;
}

#asso h3 {
  margin-top: 0.5em;
  margin-bottom: 0em;
  text-align: left;
  padding-left: 1em;
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 25px;
}

#titre-2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: left;
  padding-left: 1em;
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 25px;
}

/* sélecteurs pour le texte */
#asso p {
  margin-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0em;
  text-align: left;
  padding-left: 1em;
  padding-bottom: 0em;
  padding-top: 0em;
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 18px;
}
#asso ul {
  margin-right: 1em;
  margin-left: 0em;
  margin-bottom: 0em;
  text-align: left;
  padding-left: 1em;
  padding-bottom: 0em;
  padding-top: 0em;
}

#asso li {
  margin-top: 0em;
  margin-bottom: 0em;
  text-align: left;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-top: 0em;
  list-style-type: none;
}

#asso h5 {
  margin-left: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 18px;
}

/* @media (max-width: 700px) {
  #button-donateur {
    height: 45px;
    font-size: 10px;
    padding: 1em;
    margin-top: 0em;
    border-color: #000;
    border-radius: 1em;
  }
} */
