.modal-dialog {
  max-width: 600px;
}

.modal-header {
  background-color: #f4f4f4;
  color: #333;
  border-bottom: none;
}

.modal-title {
  font-weight: bold;
}

.modal-body {
  padding: 1rem;
}

.modal-body p {
  margin-bottom: 1rem;
}

.form-check {
  margin-right: 2rem;
}

@media (max-width: 576px) {
  .modal-body {
    padding: 0.5rem;
  }

  .modal-body p {
    margin-bottom: 0.5rem;
  }

  .form-check {
    margin-right: 1rem;
  }
}

@media (max-width: 400px) {
  .form-check {
    margin-right: 0.5rem;
  }
}
